@model IEnumerable<AppMediTech.Models.Doctor>

<h2>Doctores</h2>

<p>
    <a asp-action="Create">Crear Nuevo Doctor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Experiencia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Especialidad</td>
                <td>@item.Experiencia</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.DoctorID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
